<div class="loginContainer">
  <div class="container">

    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="avatarFrameOffline my-4">
          <img src="assets/img/generic_avatar.png" alt="" class="avatarImage img-fluid">
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="text-center">
          <h3>Iniciar Sesion</h3>
        </div>
        <p *ngIf="operation == 'register'">Ya tienes cuenta? Has <a (click)="operation = 'login'">Login</a></p>
        <p *ngIf="operation == 'login'">No tienes cuenta? <a (click)="operation = 'register'">Registrarse</a></p>
        <div class="borderedContainer">
          <input [(ngModel)]="email" class="form-control" type="email" placeholder="Ingrese Email">
          <input [(ngModel)]="password" class="form-control my-3" type="password" placeholder="Ingrese Contraseña">
          <input [(ngModel)]="nick" *ngIf="operation == 'register'" class="form-control" type="text" placeholder="Ingrese Nick">
        </div>
        <div class="text-center mt-4">
          <a (click)="login()" *ngIf="operation == 'login'" class="btn btn-light">Iniciar Sesion</a>
          <a (click)="loginSocial()" *ngIf="operation == 'login'" class="btn btn-primary text-white mx-3"><i class="fab fa-facebook"></i> Iniciar Sesion con Facebook</a>
          <a (click)="register()" *ngIf="operation == 'register'" class="btn btn-primary">Registrarme</a>
        </div>
      </div>
    </div>

  </div>
</div>
