<div id="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row no-gutters">
        <div class="col-md-auto">
          <div class="avatarFrameOnLine">
            <img src="assets/img/generic_avatar.png" alt="" class="homeAvatarPicture">
          </div>
        </div>
        <div class="col px-4">
          <b>Eduardo</b>
          <div>
            <span>Online</span>
            <br>
            <span>< Escribe un mensaje personal ></span> <br>
            <a (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="whiteContainerPadded ">
    <div class="row">
      <div class="col">
        <input class="form-control" type="text" placeholder="Buscar amigo" [(ngModel)]="query">
      </div>
      <div class="col-md-auto">
        <img src="../../assets/img/logo_live_add.png" alt="" class="icon">
      </div>
    </div>
    <hr>
    <b *ngIf="friends">Amigos ({{friends.length}} / {{friends.length}})</b>
    <div *ngFor="let user of friends | search: query; let i = index" class="d-block mb-2">
        <span routerLink="/conversation/{{user.uid}}">
          <img class="icon" src="assets/img/logo_live_online.png" alt="status"/>
          <b>{{user.nick}}</b> - {{user.subnick || 'No subnick'}}
          <small>{{user.email}}</small>
        </span>

    </div>
  </div>
</div>
